MAILTO=ffki-noc@in-kiel.de

# Freifunk Map Updates

PATH=/usr/sbin:/usr/bin:/sbin:/bin

* * * * *	www-data	/opt/ffmap-backend-neu/mkmap.sh /opt/ffmap-backend-neu/json/ > /dev/null 2>&1
#0 0 * * *	www-data	find /opt/ffmap-backend-neu/nodedb/ -name '*.rrd' -ctime 8 -execdir rm '{}' +
#0 1 * * *	www-data	find /opt/ffmap-backend-neu/nodeplots/ -name '*.png' -ctime 1 -execdir rm '{}' +

# EOF

